.transactionTable {
  border-spacing: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: auto;
  width: 500px;
}
th {
  padding: 10px 20px;
  background: #56433d;
  color: #f9c941;
  border-right: 2px solid;
  font-size: 0.9em;
}
th:first-child {
  text-align: center;
}
td:last-child {
  border-right: 2px solid #56433d;
}

td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433d;
  border-bottom: 2px solid #56433d;
  border-right: 2px solid #56433d;
}
td:first-child {
  border-left: 2px solid #56433d;
}
tr:nth-child(even) {
  background-color: #e9b5a5;
}
